*{
    padding: 0;
    margin: 0;
    border: 0;   
}
.box{
    width: 210px;
    height: 265px;
    border: 1px solid #e1e1e1;
    margin: 50px auto;
    text-align: center;

}
.header{
    font-size: 18px;
    font-family: "微软雅黑";
    height: 40px;
    line-height: 40px;
    border-bottom: 1px dashed#e1e1e1;
}
.text p{
    font-size: 14px;
    color: #ccc;
    height: 24px;
    line-height: 24px;
}
