*{
    padding: 0;
    margin: 0;
    border: 0;
}
.box{
    width: 607px;
    height: 45px;
    background: color #192132;
    border: 3px solid #000;
   padding-left: 23PX;
}
span{
    display: inline-block;
    width: 80px;
    height: 45px;
    border-bottom: 3px solid #1ba2c7;
}
.one{
    background: url(../images/navigater1.png) no-repeat;
}
.two{
    background: url(../images/navigater2.png) no-repeat;
}
.three{
    background: url(../images/navigater3.png) no-repeat;
}
.four{
    background: url(../images/navigater4.png) no-repeat;
}
.five{
    background: url(../images/navigater5.png)no-repeat;
}
.six{
    background: url(../images/navigater6.png)no-repeat;
}
.seven{
    background: url(../images/navigater7.png)no-repeat;
}