@font-face {
    font-family: 'Product Sans';
    src: url(../fonts/Product-Sans.ttf);
}
span{
    font-size: 100px;
    font-family: 'Product Sans';
}
.blue{
    color: blue;
}
.red{
    color: red;
}
#orange{
    color: orange;
}
#green{
    color: green;
}