body,ul,li{
    padding: 0;
    margin: 0;
    list-style: none;
}
body{
    font-size: 16px;
    font-family: "微软雅黑";
    color: #222;

}
ul{
    width: 171px;
    height: 299px;
    margin: 50px auto;
    background: url(../images/floatbg.jpg) no-repeat;
    padding-top:  190px; 
    color: aliceblue;
}
li{
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px dotted #fff;
    margin-left: 45px;

}
.no_line{
    border:none;
}