body,dl,dt,dd{
    padding: 0;
    margin: 0;
    border: 0;
}
body{
    font-size: 14px;

}
dl{
    width: 170px;
    height: 270px;
    border: 10px solid #f1e9e9;
    margin: 50px auto;
    padding: 10px;
}
dt{
    width: 170px;
    height: 162px;
    background: url(../images/QRCode.png)no-repeat -17px center;
    margin-bottom: 5px;
}